<!--User info部分-->
<h2>User info</h2>
<%= image_tag @user.get_profile_image, :size => '100x100' %>
<table>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
  </tr>
</table>

<%= link_to "編集", edit_user_path(@user.id) %>

<!--投稿フォーム部分-->
<h2>New Book</h2>
<%= form_with model: book do |f| %>
  <h4>Title</h4>
  <div>
    <%= f.text_field :title %>
  </div>

  <h4>Opinion</h4>
  <div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit 'Create Book' %>
  </div>


<% end %>